---
import { Content as AboutMeText } from '../../mds/AboutMe.md';
---

<style>
  article {
    backdrop-filter: blur(1px);
    max-width: var(--main-width);
    padding: var(--xl-spacing) 0;
    margin: 0 auto var(--xl-spacing);
    background: var(--section-background-gradient);
  }

  .title {
    font-family: var(--roboto-condensed);
    font-size: 30px;
    line-height: 1.1;
    margin: 0 0 var(--default-spacing);
    width: clamp(340px, 100%, 600px);
  }

  @media (min-width: 400px) {
    .title {
      font-size: 36px;
    }
  }

  @media (min-width: 480px) {
    .title {
      font-size: 42px;
    }
  }
</style>
<style is:global>
  .about-me .letter {
    display: inline-block;
    line-height: 1em;
  }

  .about-me .accent-color .letter {
    display: inline;
  }
</style>

<!-- Client-side script with anime.js -->
<script>
  import anime from 'animejs/lib/anime.es.js';

  document.addEventListener('DOMContentLoaded', () => {
    const titles = [
      ['Juan is a', 'Front-end', 'technology enthusiast'],
      ['Juan is a developer with', 'project management', 'skills'],
      ['Juan pays attention to the', 'visual details', ''],
    ];

    const element = document.querySelector('article .title');

    if (element) {
      let index = 0;

      // Modified wrapLetters function to accept an extra class
      const wrapLetters = (text, extraClass = '') => {
        return text
          .split(' ')
          .map((word) => {
            const letters = word.replace(
              /./g,
              `<span class="${extraClass === '' ? 'letter' : ''}">$&</span>`,
            );
            return `<span class="word ${extraClass}">${letters}</span>`;
          })
          .join(' ');
      };

      const updateHeadline = () => {
        const [firstPart, emphasisPart, lastPart] = titles[index];

        // Wrap each character and apply 'accent-color' to emphasisPart
        const firstPartWrapped = wrapLetters(firstPart);
        const emphasisPartWrapped = wrapLetters(emphasisPart, 'accent-color');
        const lastPartWrapped = wrapLetters(lastPart);

        // Set the innerHTML of the element without wrapping emphasisPart in an extra span
        element.innerHTML = `
        ${firstPartWrapped}
        ${emphasisPartWrapped}
        ${lastPartWrapped}
      `;

        // Create the anime.js timeline
        const animeObj = anime
          .timeline({
            loop: false,
            complete: () => {
              index = (index + 1) % titles.length;
              // Delay before showing the next headline
              updateHeadline();
            },
          })
          .add({
            targets: '.accent-color',
            opacity: [0, 1],
            easing: 'easeInOutQuad',
            duration: 100,
          })
          .add({
            targets: '.letter',
            translateY: [10, 0],
            opacity: [0, 1],
            easing: 'easeOutExpo',
            duration: 800,
            delay: (el, i) => 30 * i,
          })
          .add({
            targets: '.letter',
            translateY: [0, 0],
            opacity: [1, 1],
            easing: 'linear',
            duration: 1000,
            delay: (el, i) => 30 * i,
          })
          .add({
            targets: '.letter',
            translateY: [0, -10],
            opacity: [1, 0],
            easing: 'easeInExpo',
            duration: 600,
            delay: (el, i) => 30 * i,
          });
        console.log('animeObj', animeObj);
      };

      // Start the animation loop
      // updateHeadline();
    }
  });
</script>

<article class="about-me">
  <h2 class="title">
    Juan is a developer with <span class="accent-color">project management</span
    > experience
  </h2>
  <AboutMeText />
</article>
