---
import { Image } from 'astro:assets';
import type { BlogPost } from '../../utils/Types';

type Props = {
  post: BlogPost;
};

const {
  post: {
    data: { title, description, date, mainImage, mainImageAlt },
    id,
  },
} = Astro.props;

const href = `/blog/${id}`;
---

<style>
  .blog-post-card {
    border-radius: 6px;
    padding: var(--default-spacing);
    background-color: var(--light-gray-color);
    border: 2px solid var(--gray-color);
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    height: 200px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: var(--smaller-spacing) var(--default-spacing);
  }

  .blog-post-card-title {
    margin: 0;
    text-decoration: none;
    font-size: 30px;
    grid-row: 1;
    grid-column: 2;
  }

  .blog-post-card-decsription {
    margin: 0;
    grid-row: 2;
    grid-column: 2;
  }

  .blog-post-card-image-container {
    border-radius: var(--border-radius);
    grid-column: 1;
    grid-row: 1 / span 2;
    border: 2px solid var(--gray-color);
    overflow: hidden;
  }

  .blog-post-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .blur {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, transparent, var(--light-gray-color));
    backdrop-filter: blur(20px);
    mask: linear-gradient(to left, transparent, black);
  }
</style>

<a class="blog-post-card" href={href}>
  <h3 class="blog-post-card-title">{title}</h3>
  <p class="blog-post-card-decsription">{description}</p>
  <div class="blog-post-card-image-container">
    <Image
      class="blog-post-card-image"
      src={mainImage}
      alt=""
      width={406}
      alt={mainImageAlt}
    />
  </div>
</a>
